body {
    margin: 1px 1px 1px 15px;
    padding: 1px;
    font-family: Tahoma;
    text-align: left;
  
}
.nav-container {
    background:#f6f6f6;
    font-family: Tahoma;
    font-size: 12px;
    height: 32px;
    text-transform: uppercase;
}
a:hover {
	color:#2387D9;
}

.button {
    width : 65px;
    padding : 3px;    
    font-size: 16px;
    margin : 5px;
    padding : 5px;
    border: 1px solid lightgray;
}
.button:hover {
    background-color: 157dd3;
    color: white;
    cursor:pointer;
}

.buttonLanding{
    text-align: center;
    width : 65px;
    padding : 3px;    
    font-size: 16px;
    margin : 5px;
    padding : 5px;
    border: 1px solid lightgray;
}

.buttonLanding:hover{
    background-color: rgb(49, 62, 66);
    color: white;
    cursor:pointer;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    right: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.posttable { 
    width : 100%;
    margin: 0px;
}

.posttitle {
    text-align: center;
    font-weight: bold;
}

.useritem{
    text-align: center;
    padding: 3px;
    margin: 4px 3px 4px 3px;
    color: crimson; 
    text-transform: uppercase;
}


.flash-container{
	background: #99c5ee;
	font-family: Tahoma;
	font-size: 16px;
	padding: 25px;
	margin: 10px,0px,10px,0px;
}

.forminput{
    text-align:left;
    width: 62%;
    margin: 3px;
    padding: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.studentReg{
    text-align:left;
    width: 62%;
    margin: 3px;
    padding: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.FacultyReg{
    text-align:left;
    width: 62%;
    margin: 3px;
    padding: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.landingLogo{
    width: 10%;
    padding: 5px;
    margin: 1%;
}