<html style="background-image:url('/static/img/red.jpg');">
{% extends "base.html" %}

{% block content %}

    <h1>Research Positions</h1>
    <h2>Available Positions: {{totalPosts}}</h2>

    {% block sort %}
    <form action="" method = "post">
      {{ dform.hidden_tag() }}
        <div class='formselect'>
          <div>Sort by {{ dform.date }} 
            {{rform.rTopics}}
            <br><br>
            {% if user.usertype == 'faculty' %} <!-- Only displays "my posts" for faculty members-->
            {{rform.myposts.label}}{{rform.myposts}}
            {% endif %}
             {{ rform.submit }}</div> 
        </div>
    </form>
  {% endblock %}
    
    <div class="postlist">
        {% for post in posts %}
            <div class="post-box">
                {% include '_apps.html' %} 
            </div>
        {% endfor %}
    </div>
{% endblock %}
</html>