<html style="background-image:url('/static/img/background.png');">

    <head>
        {% if title %}
           <title>{{ title }} - Research Outreach </title> <!--Update title -->
        {% else %}
           <title> Welcome to Reserach Outreach! </title>
        {% endif %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
     </head>

{% block content %}
    <img src="{{ url_for('static', filename = 'img//logo.jpg' )}}" class = "landingLogo"> 
    <!-- <img src="{{ url_for('static', filename = 'img//background.png' )}}" class = "landingBackground">  -->
        <div class = "vertical-center">
            <p>
                <a href="{{url_for('auth.login')}}" class = "buttonLanding">Login</a>
                <a href="{{url_for('auth.register')}}" class = "buttonLanding">Click to Register!</a>
            </p>
        </div>
</div>
{% endblock %}


</html>